{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="auth">
    <button disabled>Авторизация через ЕСИА</button>

{% if user.is_anonymous %}
    <p>Затычка авторизации</p>
    <form action="{% url 'golos:login' %}" method="post">
        {% csrf_token %}
        <div>{{ form.username }}</div>
        <br>
        <div>{{ form.password }}</div>
        <br>
        <div><input type="submit" value="Войти"></div>
    </form>
{% elif user.is_authenticated %}
    <p>Вы авторизованы!<a href="{% url 'golos:index' %}"> Голосование</a></p>

{% endif %}
</div>
</body>
</html>